body{
    color: #1a1b1b;
    background-image: url(zfinalarkaplan.png);
    background-repeat: no-repeat;           
    background-size: cover;                
    background-position: center;           
    background-attachment: fixed;
}

.kapsayici{
    display: flex;      
    flex-wrap: wrap;    
    gap: 30px;          
    justify-content: center;
     
}

.divler{
height: 400px;
width: 320px;
display: inline-block;
background-color: rgba(0, 0, 0, 0);
border-radius: 10px;
border: 5px solid #6d6d6d;
color: aliceblue;
margin-top: 7%;
text-align: center;
}

.divler:hover{
    border-color: #02690c;
}

.girisler{
    border-radius: 10px;
    background-color: transparent;
    width:80%;
    height: 8%;
    border: 5px solid #6d6d6d; ;
    color: aliceblue;
    font-size: 25px;
}
.girisler:active{
    transform: scale(0.99);
}

.oranlar{
    margin-top: 1%;
    border-radius: 10px;
    width:40%;
    height: 5%;
    border: 5px solid #6d6d6d; ;
    background-color:transparent;
    color: aliceblue;
    font-size: 20px;
}
.oranlar:active{
    transform: scale(0.99);
}

.basliklar{
    font-size: 20px; 
    font-style: oblique; 
    text-decoration: underline;
}

.mesaj{
    font-size: 20px;
    font-style: oblique;
    font-style: italic;
}

.buton{
    border: 3px solid #6d6d6d; ;
    background-color: rgb(188, 188, 188);
    
    border-radius: 15px;
    width: 50%;
    height: 20%;
    margin-top: 7%;
    transition: transform 0.1s ease-in-out;
}
.buton:hover{
    border: 3px solid #02690c;
    transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(208, 208, 209, 0.751);
}
.buton:active{
    transform: scale(0.95);
    transform: translateY(0);
   box-shadow: 0 4px 10px rgba(208, 208, 209, 0.751);
}

.eksikOzel{
color: #f7f7f7;
font-size: 35px;
text-align: center;
justify-content: center;
display: flex;
align-items: center;
}